<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <article>
        <div class="side">
            <p><a href="/top">要望一覧ページ</a></p>
            <p><a href="/portfolio">完成プロジェクト一覧</a></p>
        </div> 
        <div class="content">
            {% block contents %}
            {% endblock %}
        </div>
    </article>
</body>
</html>