<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <article>
        <div class="side">
            <p><a href="/top">要望一覧ページ</a></p>
            <p><a href="/portfolio">完成一覧ページ</a></p>
        </div> 
        <div class="content">
            {% block contents %}
            {% endblock %}
        </div>
    </article>
</body>
</html>