{% extends 'Management/base.html' %}
{% block title %}要望詳細ページ{% endblock %}
{% block contents %}
<body>
    <h2>details</h2>
    <div>
        ユーザ名：{{ user }}
    </div>
    <div>
        <form method="post" action="{% url 'Management:detail_update' data.request_id %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    システム名
                </th>
                <td>
                    <input name="system_name" type="text" value="{{data.system_name}}">
                </td>
            </tr>
            <tr>
                <th>
                    要望者
                </th>
                <td>
                    {{data.name}}
                </td>
            </tr>
            <tr>
                <th>
                    システム内容
                </th>
                <td>
                    <textarea name="system_overview" cols="32" rows="5">{{data.system_overview}}</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    メルアド
                </th>
                <td>
                    {{data.mail}}
                </td>
            </tr>
            <tr>
                <th>
                    要望受付日
                </th>
                <td>
                    {{data.date}}
                </td>
            </tr>
            <table>
            <tr>
                <th>
                    状況
                </th>
                <td>
                    <p><input type="radio" id="zero" name="status" value="0" {% if data.status == 0 %}checked{%endif%} />
                    <label for="zero">受理済み</label></p>
                    <p><input type="radio" id="one" name="status" value="1"  {% if data.status == 1 %}checked{%endif%} />
                    <label for="one">実装中</label></p>
                    <p><input type="radio" id="two" name="status" value="2"  {% if data.status == 2 %}checked{%endif%} />
                    <label for="two">実装完了</label></p>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="更新"></td>
            </tr>
            </table>
        </table>
        </form>
            <form  method="post" action="{% url 'inquiry:index' data.request_id %}">
                {% csrf_token %}
                <p>Request ID: {{ data.request_id }}</p>
                <tr>
                    <th>
                        <input type="submit" value="お問い合わせ">
                    </th>
                </tr>
            </form>
        <a href="{% url 'Management:top' %}">戻る</a>
    </div>
</body>
{% endblock %}