{% extends 'Management/base.html' %}
{% block title %}要望詳細ページ{% endblock %}
{% block contents %}
<body>
    <h2>details</h2>
    <div>
        ユーザ名：{{ user }}
    </div>
    <div>
        <table>
            <tr>
                <th>
                    システム名
                </th>
                <td>
                    {{data.system_name}}
                </td>
            </tr>
            <tr>
                <th>
                    要望者
                </th>
                <td>
                    {{data.name}}
                </td>
            </tr>
            <tr>
                <th>
                    システム内容
                </th>
                <td>
                    {{data.system_overview}}
                </td>
            </tr>
            <tr>
                <th>
                    メルアド
                </th>
                <td>
                    {{data.mail}}
                </td>
            </tr>
            <tr>
                <th>
                    要望日
                </th>
                <td>
                    {{data.date}}
                </td>
            </tr>
            <tr>
                <th>
                    <a href="/top">戻る</a>
                    <button>お問い合わせ</button>
                    <button>受理</button>
                </th>
            </tr>
        </table>
    </div>
</body>
{% endblock %}