<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>要望一覧ページ</title>
</head>
<body>
    <h2>top</h2>
    <div>
        ユーザ名：{{ user }}
    </div>
    <div>
        <table border="1">
            <tr>
                <th>システム名</th>
                <th>要望者</th>
                <th></th>
            </tr>
            {% for data in data_list %}
            <tr>

                <td>{{ data.system_name }}</td>
                <td>{{ data.name }}</td>
                <td>
                <a href="/detail/{{ data.request_id}} ">詳細</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>